<div class="row">
  <div class="large-12 small-12 columns">
    <div data-alert id="notice" class="alert-box success round hide">
      Saved!
    </div>
  </div>
</div>

<form id="options" action="" method="POST">
  <div class="row">
    <div class="large-12 small-12 columns">
      <label for="username">Plurk Username</label>
      <input type="text" name="username" value="{{username}}" />
    </div>
  </div>
  <div class="row">
    <div class="large-12 small-12 columns">
      <label for="per_page">Show Plurks</label>
      <input type="text" name="per_page" value="{{perPage}}" />
    </div>
  </div>
  <div class="row">
    <div class="large-12 small-12 columns">
      <button type="submit">Save</button>
    </div>
  </div>
</form>
