
<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="zh-TW" > <!--<![endif]-->

<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>FirePlurk - Javascript Base Plurk Client</title>

  <link rel="stylesheet" href="stylesheets/normalize.css" />
  <link rel="stylesheet" href="stylesheets/app.css" />

  <script src="javascripts/vendor/custom.modernizr.js"></script>
  <script src="javascripts/vendor/require.js" data-main="javascripts/main.js"></script>
</head>
<body>

  <div id="app-loading">
    <div class="loader">
      <img src="images/ajax-loader.gif" alt="Loader" />
    </div>
  </div>

  <div id="app">
  </div>

</body>
</html>
